<section data-ng-controller="ChildrenController">
  <div class="container-fluid input-lg CreateChildContainer">
    <div class="CreateChildFormContainer">
      <div class="page-header">
        <h1>New Child Screening</h1>
      </div>

      <form name="childForm" class="form-horizontal container-fluid" ng-submit="create(childForm.$valid)"
            novalidate>
        <fieldset>
          <div class="row">
            <div class="form-group float-left">
              <div ng-class="{'has-error':(!firstNameIsValid)}">

                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-change="checkFirstNameIsValid()"
                         ng-model="firstName" id="firstName" placeholder="First Name"
                         required>
                  <div class="validationMessage" ng-if="!firstNameIsValid"><p>Please enter a valid
                    name</p></div>
                </div>
              </div>
              <div ng-class="{'has-error':(!lastNameIsValid)}">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkLastNameIsValid()"
                         ng-model="lastName"
                         id="lastName"
                         placeholder="Last Name"
                         required>
                  <div class="validationMessage" ng-if="!lastNameIsValid"><p>Please enter a valid
                    name</p></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error':(!genderIsValid)}">
                <label for="gender" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-4">
                  <div>
                    <select type="input" ng-change="checkGenderIsValid()" class="form-control"
                            ng-model="gender"
                            id="gender"
                            required>
                      <option>Girl</option>
                      <option>Boy</option>
                    </select>
                    <div class="validationMessage" ng-if="!genderIsValid"><p>Please select a
                      gender</p></div>
                  </div>
                </div>
              </div>
              <label for="birthdate" class="col-sm-2 control-label">Birthdate</label>
              <div class="col-sm-4">
                <input type="date" id="birthDate" ng-change="setMonthCount(child)" class="form-control"
                       uib-datepicker-popup
                       ng-model="birthDate" ng-model-options="{debounce: 2500}"
                       is-open="status.opened" required>
                <!--<div class="validationMessage" ng-if="!birthdateIsValid"><p>Please select a valid birthdate</p></div>-->
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error':(!heightIsValid)}">
                <label for="height" class="col-sm-2 control-label">Height</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkHeightIsValid()"
                         ng-model="height" id="height"
                         placeholder="Height" required>
                  <div class="validationMessage" ng-if="!heightIsValid"><p>Please enter a valid height (45-110)
                  </p></div>
                </div>
              </div>
              <div ng-class="{'has-error':(!weightIsValid)}">
                <label for="weight" class="col-sm-2 control-label">Weight</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkWeightIsValid()"
                         ng-model="weight" id="weight"
                         placeholder="Weight" required>
                  <div class="validationMessage" ng-if="!weightIsValid"><p>Please enter a valid
                    weight (3-18)</p></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error':(!motherIsValid)}">
                <label for="mother" class="col-sm-2 control-label">Mother</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkMotherIsValid()"
                         ng-model="mother" id="mother"
                         placeholder="Mother" required>
                  <div class="validationMessage" ng-if="!motherIsValid"><p>Please enter a valid
                    name</p>
                  </div>
                </div>
              </div>
              <div ng-class="{'has-error':(!fatherIsValid)}">
                <label for="father" class="col-sm-2 control-label">Father</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkFatherIsValid()"
                         ng-model="father" id="father"
                         placeholder="Father" required>
                  <div class="validationMessage" ng-if="!fatherIsValid"><p>Please enter a valid
                    name</p></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error':(!streetAddressIsValid)}">
                <label for="streetAddress" class="col-sm-2 control-label">Street Address</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkStreetAddressIsValid()"
                         ng-model="streetAddress" id="streetAddress"
                         placeholder="Street Address" required>
                  <div class="validationMessage" ng-if="!streetAddressIsValid"><p>Please enter a valid
                    name</p></div>
                </div>
              </div>
              <div ng-class="{'has-error':(!cityIsValid)}">
                <label for="city" class="col-sm-2 control-label">City</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkCityIsValid()"
                         ng-model="city" id="city"
                         placeholder="City" required>
                  <div class="validationMessage" ng-if="!cityIsValid"><p>Please enter a valid
                    city</p></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div ng-class="{'has-error':(!stakeIsValid)}">
                <label for="stake" class="col-sm-2 control-label">Stake</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkStakeIsValid()"
                         ng-model="stake" id="stake"
                         placeholder="Stake" required>
                  <div class="validationMessage" ng-if="!stakeIsValid"><p>Please enter a valid
                    stake</p></div>
                </div>
              </div>
              <div ng-class="{'has-error':(!wardIsValid)}">
                <label for="city" class="col-sm-2 control-label">Ward</label>
                <div class="col-sm-4">
                  <input type="input" class="form-control" ng-change="checkWardIsValid()"
                         ng-model="ward" id="ward"
                         placeholder="Ward" required>
                  <div class="validationMessage" ng-if="!wardIsValid"><p>Please enter a valid
                    ward</p></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="comments" class="col-sm-2 control-label">Comments</label>
              <div class="col-sm-4">
                                <textarea class="form-control" ng-model="comments" id="comments"
                                          placeholder="Comments"></textarea>
              </div>
              <label for="comments" class="col-sm-2 control-label"></label>
              <div class="col-sm-4" style="text-align: center">
                <div style="margin-top:4%;">
                  <button type="submit" ng-click="checkAllFieldsValid()" class="btn btn-default">
                    Submit
                  </button>
                </div>
              </div>
            </div>

          </div>

        </fieldset>
      </form>
    </div>
  </div>
</section>

